@font-face {
    font-family: 'Moderat';
    src: url('../fonts/subset-Moderat-Regular.eot');
    src: url('../fonts/subset-Moderat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Moderat-Regular.woff') format('woff'),
        url('../fonts/subset-Moderat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moderat Trial';
    src: url('../fonts/subset-ModeratTrial-Medium.eot');
    src: url('../fonts/subset-ModeratTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-ModeratTrial-Medium.woff') format('woff'),
        url('../fonts/subset-ModeratTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

